*{
    padding: 0; margin: 0; box-sizing: border-box;
}
body{
    height: 100vh; background-color: #111; display: flex;
    justify-content: center; align-items: center;
}
p{
    font-size: 4.5vw; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; color: seagreen; font-weight: 500;
}