*{
    padding: 0; margin: 0; box-sizing: border-box;
}
body{
 display: flex; align-items: center; justify-content: center; height: 100vh;
 background-color: #111; color: #fff;
}
p{
    font-size: 6vw; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 font-weight: 400;
}
.text-color {
    color: yellowgreen;
    text-shadow: 0 2px 4px white;
}